* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    line-height: 1.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    display: flex;
    padding: 20px;
}

section {
    padding: 40px 20px;
}

img {
    margin-top: 30px;
    width: 30%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5rem;
    padding: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #D5C06B;
}

#menu ul {
    padding-inline: 30px;
}

.tabela-clientes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
}

.tabela-clientes th, .tabela-clientes td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.tabela-clientes th {
    background-color: #121212;
    color: white;
}   

.tabela-clientes td a {
    color: #121212;
    margin-right: 10px;
}

.tabela-clientes td i {
    font-size: 1.2rem;
    color: white;
}

ion-icon {
    font-size: 1.5rem;
    color: white;
    transition: transform 0.3s ease;
    transition: color 0.3s ease;
}

ion-icon:hover {
    transform: scale(1.2);
    color: #D5C06B;
}

footer {
    border-top: 1px solid #D5C06B;
    background-color: #121212;
    text-align: center;
    padding: 2.5rem;
    margin-top: 4rem;
}